body {
  margin: 0;
  padding: 0;
  font-family: Roboto,Noto Sans,Noto,sans-serif;
  -webkit-overflow-scrolling: touch;
}
html,
body,
#root{
  height: 100%;
}

.nav-link a{
  display: inline-block;
  padding: 20px;
  color: #ddd;
}
.nav-link a.active,
.nav-link a:hover{
  color: #fff;
}